
body{
margin-top: 0%;
margin-left: 15%;
margin-right: 5%;
}

header{
    height:88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  

ul{
    display: flex;
    justify-content: space-between;
    
    margin-top: 0px;
    padding-left: 0%;
    margin-bottom: 0%;
   
    
}
li{
    list-style-type: none;
    color: #F2F2F2;
    font-weight: bold;
   margin-right: 30px;
   font-size: 20px;
}
ul a{
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    
}
.logo{
    height: 55px;
}
#logo
{
   height: 100%;
}

.lien_overline:hover{
    color: rgba(0, 101, 252, 1);
     border-top: 3px rgba(0, 101, 252, 1) solid;
} 
#headerp21{
    font-size: 1.2em;
    font-weight: bold;
    height:18px;
    margin-bottom: 5px;
}
#headerp22{
    color: rgba(46, 49, 49, 1);
    margin-bottom: 5px;
    
}
 form{
     
     border-radius: 0px 5px 5px 0px;
     display: flex;
     border-bottom: 1px solid #F2F2F2;
  border-top: 1px solid #F2F2F2;
    
 }
.header2formicon{
    background-color: #F2F2F2;
    width:30px;
    padding: 10px 10px;
    border-radius: 10px 0px 0px 10px;

  
}
.header2formicon i{ 
    padding-left: 10px;
    text-align: center;
    line-height: 2;
 }
#divButton{
    display:flex;
    height: 50px;
    margin-top: 25px;
}
input#ville{
    border:none;
    background-color: transparent;
    outline: none;
    width: 200px;
    
    
}
.button_rechercher{
    height: 100%;
    width: 100px;
    background-color: #0065fc;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
    color:ivory;
    border:none;
    margin:auto;
    padding-right: 5px;
    padding-left:15px;
    text-align: center;
}

.main_filtres{
    display: flex;
    height:auto;
    margin-top: 15px;
    margin-bottom: 25px;
}
.boutons{
    outline: none;
    border-top: 1px solid #b0b0b0;
    border-right: 1px solid #b0b0b0;
    border-bottom: 1px solid #b0b0b0;
    border-left: none;
    border-radius: 30px;
    background: transparent;
    margin: 10px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
    font-weight: bold;
    display:flex;
    flex-wrap: nowrap;
   align-items: center;
   color:rgba(0, 101, 252, 1)  
}
button i
{
    border-radius: 33px;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
   margin-right: 10px;
  padding: 20px;
   background-color: rgba(0, 101, 252, 0.3);
   
}

button p{
    color: black;
    text-align:center;
}
#presentationfiltres{
    padding-top: 10px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 10px;
}
button:hover{
    background-color: rgba(0, 101, 252, 1);
    color: white;
}
.info{
    background: transparent;
}
#info i{
    
    padding: 7px;
    border: 1px solid rgb(202, 202, 202);
    background-color: white ;
    color: rgba(0, 101, 252, 1);
border-radius: 100%;
margin-left: 5px;
margin-right: 10px;
}

#container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 200px;
    padding: 10px;
    margin: 20px;
    background-color: blue;
  }
  #container .item {
    width: 80px;
    height: 50px;
    background-color: red;
    margin: 10px;
  }
*/
