@media screen and (max-width: 991px) and (min-width: 701px)
{
    #bloc_page{
        margin-right: 0%;
    margin-left: 0%;
    }
header{
    display: flex;
    flex-direction: column;
}

.sub_a{
    display: none;
}

.nav_a:hover{
    color: rgba(0, 101, 252, 1);
    border-bottom: 3px rgba(0, 101, 252, 1) solid;
    border-top:none;
 } 
 .nav_a{
    border-top: none;
    border-bottom: 3px solid transparent;
    width: 50%;
 }
 .nav_a.selected{
    color: rgba(0, 101, 252, 1);
    border-bottom: 3px rgba(0, 101, 252, 1) solid;
    border-top:none;
 }
 .search{
 display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}
#main_filtres_text {
    margin-left: 1.5em;
}
#hebergement{
    display: flex;
    flex-direction: column-reverse
    }
        #hebergement_1{
        width: 100%;
        padding: 0;
        }
        #hebergement_1 h1 {
            margin-left: 2em;
        }
        #find_more{
            margin-left: 2em;
        }
        #populaire {
         margin-left: 0px;
        width: 100%;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        }
.populaire_content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
            }
            .ap1{
                height: 160px;
        width: 60%;
        margin: 0.5em;
            }
        .div_pop{
        
     
        display: flex;
        flex-direction: row;
        }
        .ligne{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;
        }
        .ligne1{
            display: flex;
            flex-direction: column;
            align-items: center;
           
        }
        .ligne2 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .div_heb{
            width: 80%;
            margin: 10px 10px;
        }
#activites{
            display: grid;
            grid-gap:10px;
            height: 1600px;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 20px;
            grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "ta ta"
            "a1 a2"
            "a1 a2"
            "a1 a2"
            "a1 a3"
            "a4 a5"
            "a4 a5"
            "a4 a6"
            "a4 a6"
}
}
